.MuiDrawer-paper{
    margin-top: 68px;
}
@media screen and (min-width: 320px) and (max-width: 480px){
    .MuiDrawer-paper{
        margin-top: 20%;
    }
}
@media screen and (min-width: 481px) and (max-width: 860px) {
    .MuiDrawer-paper{
        margin-top: 10%;
    }
}

@media screen and (min-width: 861px) and (max-width: 1024px) {
    .MuiDrawer-paper{
        margin-top: 9%;
    }
}